<!DOCTYPE html>
{% load bootstrap4 %}
{% load static %}
<html lang="en">
<head>
    {% bootstrap_css %}
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet"> <!-- font-family: Itim -->
    <link href="{% static 'css/criar-conta.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Criar conta</title>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <button class="btn btn-dark"><a href="{% url 'index' %}">Voltar à página Inicial</a></button>
            </div>
        </div>
    </div>

    <main>
        <div class="container">
            <form action="{% url 'criar-conta' %}" method="post" id="this-form">
                {% csrf_token %}
                {% bootstrap_messages %}
                <div class="row">
                    <div class="ma mt30px">
                        <h1 class="my-h1">Criação de conta</h1>
                        <hr>
                    </div>
                </div>
                <div class="row mt30px">
                    <div class="form-group ma mb10px">
                        <label for="first_name">Nome</label>
                        <input type="text" class="form-control" id="first_name" max="100" min="2" name="first_name" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group ma mb10px">
                        <label for="last_name">Sobrenome</label>
                        <input type="text" class="form-control" id="last_name" max="100" min="2" name="last_name" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group ma mb10px">
                        <label for="username">Nome de usuário/apelido</label>
                        <input type="text" class="form-control" id="username" max="100" min="2" name="username" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group ma mb10px">
                        <label for="email">Seu e-mail</label>
                        <input type="email" class="form-control" id="email" max="100" min="2" name="email" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group ma mb10px">
                        <label for="password">Senha</label>
                        <input type="password" class="form-control" id="password" max="100" min="2" name="password" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group ma mb10px">
                        <label for="password_confirm">Confirmar senha</label>
                        <input type="password" class="form-control" id="password_confirm" max="100" min="2" name="password_confirm" required>
                    </div>
                </div>
            </form>
        </div>

        <div class="container">
            <div class="row">
                <div class="ma mb10px mt30px">
                    <button class="btn btn-dark" type="submit" form="this-form">Registrar</button>
                </div>
            </div>
        </div>
    </main>
{% bootstrap_javascript jquery='full' %}
</body>
</html>
