

body {background-color: #171A21; color: #c7d5e0;}
.container-fluid {position: fixed; top: 0; background-color: #171A21;} /* cor de fundo deve ser = body */
.btn-dark:hover a {text-decoration: none;}
main {margin-top: 100px;}  /* espaçamento necessário para evitar que o conteúdo seja sobreposto pelo botão fixo */
.ma {margin: auto;}
.mt30px {margin-top: 30px;}
.my-h1 {font-family: Itim;}
hr {background-color: aqua; height: 3px; box-shadow: 0 0 50px aqua; border-radius: 10px;}
.mb10px {margin-bottom: 10px;}
.form-control {background-color: #171A21;}
.form-control:focus {background-color: #171A21;}
