

body {background-color: #222; color: white;}

/* Menu grande config */
.nav-first
{position: fixed; top: 0; background-color: #292929; width: 97%; padding: 25px 0 0 0;
 box-shadow: 0 0 5px #128c7e, 0 0 10px #128c7e, 0 0 15px #128c7e;}

.mt40px {margin-top: 40px;}
.my-span, .my-a {font-size: 2em;}
.my-nav {transition: .5s; color: black; letter-spacing: 2px;}

.my-nav:hover
{border-top: #128c7e solid 7px; border-bottom: #128c7e solid 7px; padding: 15px; border-radius: 50%; color: #128c7e;
 text-decoration: none;}

/* Menu pequeno config */
.container {background-color: #222;} /* impedir que o conteúdo que passa pelo menu seja visto */
.nav-second {position: fixed; top: 0; left: 0;}
.my-btn {font-size: .5em;}
.my-btn a {color: black;}
.btn-dark:hover a {text-decoration: none;}
.dropdown-item {text-align: right; padding: 20px 0 0 -5px;}
.dropdown-menu {background-color: #292929; width: 200%;}

/* Global */
.ma {margin: auto;}

/* Outros */
main {margin-top: 200px;}

/* Conteúdo adicionado para testar rolagem e sobreposição */
.a {display: block; font-size: 5em; text-align: center;}

/* Edição de estilos baseado na resolução */
@media screen and (max-width: 768px) {
    .nav-first {visibility: hidden;} /* até à resolução de 768px, o menu grande é escondido */
}

@media screen and (min-width: 768px) {
    .nav-second {visibility: hidden;} /* a partir da resolução de 768px, o menu pequeno é escondido */
}
