<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
<html lang="en">
<head>
    {% bootstrap_css %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <title>Página índice</title>
</head>
<body>

    <!--Barra de navegação para resolução média ou acima-->
    <div class="container-fluid">
        <nav class="nav-first">
            <div class="row text-center ma mt40px">
                <span class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 my-span text-left">Menu</span>
                <span class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"><a class="my-nav" href="#">Item 1</a></span>
                <span class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"><a class="my-nav" href="#">Item 2</a></span>
                <span class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"><a class="my-nav" href="#">Item 3</a></span>
                <span class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"><a class="my-nav" href="#">Item 4</a></span>
                <span class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2"><a class="my-nav" href="#">Item 5</a></span>
            </div>
        </nav>
    </div>

    <!--Barra de navegação para resolução muito pequena até pequena-->
    <div class="container nav-second">
        <div class="row">
            <div class="nav-item dropdown col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 ma">
                <button class="btn btn-dark my-btn">
                    <a aria-expanded="false" aria-haspopup="true"
                       class="nav-link dropdown-toggle my-a"
                       data-toggle="dropdown" href="#" id="navbarDropdown" role="button">Menu
                    </a>
                    <span aria-labelledby="navbarDropdown" class="dropdown-menu">
                        <a class="dropdown-item" href="#">Item 1</a>
                        <a class="dropdown-item" href="#">Item 2</a>
                        <a class="dropdown-item" href="#">Item 3</a>
                        <a class="dropdown-item" href="#">Item 4</a>
                        <a class="dropdown-item" href="#">Item 5</a>
                    </span>
                </button>
            </div>
        </div>
    </div>

    <main>
        <a class="a" href="#">Texto</a><a class="a" href="#">Texto</a><a class="a" href="#">Texto</a>
        <a class="a" href="#">Texto</a><a class="a" href="#">Texto</a><a class="a" href="#">Texto</a>
        <a class="a" href="#">Texto</a><a class="a" href="#">Texto</a><a class="a" href="#">Texto</a>
        <a class="a" href="#">Texto</a><a class="a" href="#">Texto</a><a class="a" href="#">Texto</a>
        <a class="a" href="#">Texto</a><a class="a" href="#">Texto</a><a class="a" href="#">Texto</a>
    </main>
{% bootstrap_javascript jquery='full' %}
</body>
</html>
<!--            <div class="row fixed">-->
<!--                <div class="col">-->
<!--                    <button class="btn btn-dark ma mt"><a href="{% url 'index' %}">Voltar</a></button>-->
<!--                </div>-->
<!--            </div>-->