

<!DOCTYPE html>
{% load bootstrap4 %}
{% load static %}
<html lang="en">
<head>
    {% bootstrap_css %}
    <link href="{% static 'css/logar.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Efetuar login</title>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <button class="btn btn-dark"><a href="{% url 'index' %}">Voltar à página Inicial</a></button>
            </div>
        </div>
    </div>

    <main>
        <div class="container">
            <form action="{% url 'logar' %}" class="form" id="this-form" method="post">
                <fieldset class="fieldset pb30px text-center">Login</fieldset>
                {% csrf_token %}
                {% bootstrap_messages %}

                <div class="row">
                    <div class="form-group ma mb20px">
                        <label class="blink-text" for="username">Nome de usuário</label>
                        <input class="form-control" id="username" max="100" min="2" name="username" type="text" required>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group ma mb20px">
                        <label class="blink-text"  for="password">Senha</label>
                        <input class="form-control" id="password" max="100" min="2" name="password" type="password" required>
                    </div>
                </div>

                <div class="row">
                    <div class="ma mb20px">
                        <button class="btn btn-dark" form="this-form" type="submit">Logar</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
{% bootstrap_javascript jquery='full' %}
</body>
</html>